@page "/createorder"
@using NorthWind.Sales.Frontend.Views.Resources

<ErrorBoundary @ref="_errorBoundaryRef">
    <ChildContent>
        <CreateOrderComponent Order="ViewModel"/>
    </ChildContent>
    <ErrorContent>
        <ExceptionComponent Exception="context"/>
        <button class="btn btn-danger" @onclick="Recover">
            @CommonMessage.OK
        </button>
    </ErrorContent>
</ErrorBoundary>
